body{
    background-color: black;
}

h4{
    writing-mode: vertical-lr;
    color: white;
    position: fixed;
    font-size: 40px;
    font-weight: bold;
    margin: inherit;
    position: absolute;
    margin-top: 70px;
}

h1{
    font-size: 200px;
    padding-left: 350px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    margin: 20px;
}

table{
    margin: auto;
}

p{
    color:white;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 170px;
    margin: 30px;
    font-style: italic;
}