body{
    background-color: black; /*画面を黒に*/
}

h4{
    writing-mode: vertical-lr;
    color: white; /*文字を白に*/
    position: fixed;
    font-size: 40px;
    font-weight: bold;
    margin: inherit;
    position: absolute;
    margin-top: 70px;
}

h1{
    font-size: 200px;
    padding-left: 350px;
    color: white; /*文字を白に*/
}

a{
    text-decoration: none;
    color: white; /*文字を白に*/
    font-weight: bold;
    font-style: italic; /*文字を斜めに*/
    font-size: 30px;
    margin: 20px;
}

table{
    margin: auto;
    padding-left: 30px;
}

p{
    color:white; /*文字を白に*/
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*フォント変更*/
    font-size: 20px;
    padding-top: 170px;
    margin: 30px;
    font-style: italic; /*文字を斜めに*/
}